<html>

<head>
    <meta charset="utf-8" />
    <title>202012701 박인규 기말 프로젝트</title>
</head>

<body>
    <h1>커피추가</h1>
    <form action="/coffee" method="POST">
        <pre>
            커피 이름 : <input type="text" name="name" style="width: 300px;"><br></br>
            커피 용량 : <input type="text" name="volume" style="width: 300px;"><br></br>
            커피 칼로리 : <input type="number" name="calorie" style="width: 300px;"><br></br>
            커피 카페인 : <input type="text" name="caffeine" style="width: 300px;"><br></br>
            <p>
                <input type="submit" value="커피추가"> <input type="button" value="back" onclick="history.back(-1)">
            </p>
        </pre>
    </form>
</body>

</html>