<html>
<head>
   <meta charset="UTF-8" />
    <title>202012701 박인규 기말 프로젝트</title>
</head>
<body>
    <h1>커피 삭제 완료.</h1>
    </br>

    <input type="button" value="home" onclick="location.href='/coffee'">
</body>
</html>