<html>
    <head>
        <meta charset="utf-8" />
        <title>202012701 박인규 기말 프로젝트</title>
    </head>
    <body>
        <h1><%= data._id %> 커피 추가를 완료 했습니다.</h1>
        <input type="button" value="home" onclick="location.href='/coffee'">
    </body>
</html>