<html>
    <head>
        <meta charset="utf-8" />
        <title>202012701 박인규 기말 프로젝트</title>
    </head>
    <body>
        <h1>ID 중복. 다시 입력 바랍니다.</h1>
        <input type="button" value="회원가입" onclick="location.href='/register'">
    </body>
</html>