<html>
<head>
   <meta charset="UTF-8" />
    <title>수정 완료</title>
</head>
<body>
    <h1><%= title %>에 대한 정보 수정을 완료했습니다.</h1>

    <input type="button" value="상세정보" onclick="location.href='/books/<%= id %>'"></br></br>
    <input type="button" value="리스트" onclick="location.href='/books'">


</body>
</html>