<html>
<head>
    <meta charset="UTF-8" />
    <title>책 추가</title>
    <h1 style="color:royalblue;">책 추가</h1>
</head>
<body>
    <br>
    <form name="input" method="POST" action="/Coffee" enctype="multipart/form-data">
        제목 : <input type="text" name="title" style="width:300px;"></br></br>
        저자 : <input type="text" name="director" style="width:300px;"></br></br>
        출시연도 : <input type="text" name="year" style="width:300px;"></br></br>
        타입 : <input type="text" name="type" style="width:300px;"></br><br>
        책 이미지 : <input type="file" name="book_img"> <br><br>
        
        <input type="submit" value="책 정보 추가">
        <input type="button" value="돌아가기" onclick="history.back(-1)">
    </form>
</body>
</html>